<!DOCTYPE html>
<html>
<head>
    <title>Weather Data </title>
</head>
<body>
    <h1>Weather Data to filter station id and date</h1>
    <form action="/api/weather" method="post">
        Weather Station ID: <input type="text" name="weather_station_id" value="{{ request.form['weather_station_id'] }}"/> <br />
        <br/>
        Measurement Date: <input type="text" name="measurement_date" value="{{ request.form['measurement_date'] }}"/> <br />
        <input type="submit" name="submit" value="Submit" />
    </form>
    <table>
        <tr>
            <th>weather_station_id</th>
            <th>measurement_date</th>
            <th>max_temperature</th>
            <th>min_temperature</th>
            <th>precipitation</th>
        </tr>
        <!-- Use Python to populate table rows -->
        {% for row in weather_paginated_data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}

        <div>
            {% set max_pages = 5 %} {# Define the maximum number of pages to display #}
            {% set start_page = (weather_data_current_page - max_pages) if weather_data_current_page > max_pages else 1 %}
            {% set end_page = (start_page + max_pages) if weather_data_current_page > max_pages else max_pages %}
            
            {% if start_page > 1 %}
                <a href="{{ url_for('weather_data', page=1) }}">1</a>
                <span>...</span>
            {% endif %}
            
            {% for page_num in range(start_page, end_page + 1) %}
                <a href="{{ url_for('weather_data', page=page_num) }}">{{ page_num }}</a>
                <span>...</span>
            {% endfor %}
            
            {% if end_page < weather_total_pages %}
                <a href="{{ url_for('weather_data', page=weather_total_pages) }}">{{ weather_total_pages }}</a>
                <span>...</span>
            {% endif %}
            
            {% if weather_data_current_page < weather_total_pages %}
                <a href="{{ url_for('weather_data', page=weather_data_current_page + 1) }}">Next</a>
                <span>...</span>
            {% endif %}
        </div>
    </table>

    